
<h1>Edit article</h1>

<%= render 'form' %>

<h2>Add Tags</h2>

<% @tags.each do |tag| %>
    <%= link_to tag.name, controller: "tags", action: "new", id: tag.id %>

    <%= form_for @article, url: article_add_tag_path(@article), method: :post, html: { style="display:none" id="#{tag.id}"} do |f| %>

    <% end %>


<% end %>

<h3>Create new tag:</h3>
<%= render 'tags/form' %>

<%= link_to 'Back', articles_path %>
